# R Project files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# R Environment
.Renviron

# Ignore everything in GDCdata/
GDCdata/

# But keep the .gitkeep file (optional placeholder to keep folder structure)
!GDCdata/.gitkeep

data/
results/
output/

# Ignore large binary files
*.RData
*.rds
*.bam
*.h5
*.fastq
*.vcf
*.zip
*.gz
*.tar.gz
*.pdf
*.csv
*.tsv